# Cache files for the package
*.pyc
.ipynb_checkpoints


# Operating system files
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# Editor files
.idea/
.vscode/

# Build files
build/
dist/
*.egg-info/
*.egg